@import "tailwindcss";

:root {
  /* Primary Colors */
  --color-primary: #fc6200;
  --color-primary-hover: #d45500;
  
  /* Secondary Colors */
  --color-secondary: #663090;
  --color-secondary-hover: #55267a;
  
  /* Background Colors */
  --color-background: #FFFFFF;
  --color-background-secondary: #050304;
  --color-background-tertiary: #663090;
  
  /* Text Colors */
  --color-text: #6c757d;
  --color-text-dark: #0F1215;
  --color-text-light: #FFFFFF;
  
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
